body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

#content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    flex-shrink: 0;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 500px;
    border: 2px solid black;
    border-radius:  5px;
}

#screen {
    display: flex;
    background-color: darkgrey;
    max-height: 64px;
    justify-content: flex-end;
    align-items: center;
    margin: 32px;
    margin-bottom: 4px;
    border: 2px solid black;
    border-radius: 5px;
}

#output {
    margin-right: 4px;
    font-size: 48px; 
    font-family: monospace;
}

#button-grp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin: 16px 32px;
    padding: 8px 0px;
    background-color: darkgrey;
    border-radius: 5px;
}

button {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    box-shadow: none;
    font-family: monospace;
    border: 0;
}

.digit {
    background-color: lightgrey;
}

.operand {
    background-color: lightblue;
}

#clear {
    background-color: pink;
}

button:hover {
    background-color: grey !important;
}

button:active {
    background-color: rgb(66, 66, 66) !important;
}

#footer {
    display: flex;
    justify-content: center;
}
